@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 14px;
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.root {
  --ligt-color: #ffffff;
  --dark-color: #030303;
  --button-line-color: #710707;
  --font-gold: #9d8665;

  color: var(--text-primary-color);
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
/* .container-big {
  width: 1440px;
  margin: 0 auto;
} */

/* ==========header========== */

.header {
  background-color: var(--dark-color);
  height: 150px;
  display: flex;
  align-items: center;
}
.header-raw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
.header-name-logo {
  position: fixed;
  clip: rect(0 0 0 0);
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
}
.header-logo {
  display: flex;
  gap: 25px;
}
.logo-img {
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: 0% 30%;
  background-image: url(./assets/logo-name.svg);
}
.header-menu {
  margin-left: -10px;
}
.logo-name {
  text-transform: uppercase;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  color: #ffffff;
  letter-spacing: 5px;
}
.header-menu-item {
  display: flex;
  justify-content: space-around;
  gap: 55px;
}
.menu-link,
.menu-link-f {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
}
.menu-link:hover {
  color: #9d8665;
  transition: 0.5s;
}
.menu-link-f:hover {
  color: #9d8665;
  transition: 0.5s;
}
.menu-link:not(:hover) {
  color: #ffffff;
  transition: 0.5s;
}
.menu-link-f:not(:hover) {
  color: #ffffff;
  transition: 0.5s;
}

.menu-link:active {
  color: #9d8665;
  transition: 0.5s;
}
.menu-link-f:active {
  color: #9d8665;
  transition: 0.5s;
}
.menu-link::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(./assets/menu-arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: -20px;
  visibility: hidden;
}
.menu-list {
  position: relative;
}
@media (max-width: 1439px) {
  .container {
    width: 80%;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 1220px) {
  .header {
    z-index: 10;
    width: 100%;
  }
  .icon-menu {
    display: block;
    position: absolute;
    top: 56px;
    right: 20px;
    width: 32px;
    height: 18px;
    cursor: pointer;
    z-index: 100;
  }
  .icon-menu span {
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--ligt-color);
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: var(--ligt-color);
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu.active::before {
    transform: rotate(45deg);
    top: 8px;
    background-color: white;
  }
  .icon-menu.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
    background-color: white;
  }
  .icon-menu.active span {
    transform: scale(0);
    background-color: white;
  }
  .menu-link::after {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(./assets/menu-arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: -25px;
    visibility: visible;
  }
}
@media (max-width: 1220px) {
  .container {
    width: 80%;
  }

  body.lock {
    overflow: hidden;
  }
  .menu-body {
    position: fixed;
    width: 30%;
    height: 100%;
    top: 147px;
    left: 0;
    background-color: var(--dark-color);
    transform: translate(-100%, 0);
    transition: all 0.3s ease 0s;
  }
  .menu-body.active {
    transform: translate(0px);
  }
  .header-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    padding-left: 100px;
  }
  .menu_link {
    color: white;
    font-size: 20px;
  }
}
@media (max-width: 1025px) {
  .header {
    height: 130px;
  }
}
@media (max-width: 769px) {
  .header {
    padding-top: 18px;
    height: 105px;
  }
  .icon-menu span {
    height: 2px;
  }
  .icon-menu::before,
  .icon-menu::after {
    height: 2px;
  }
  .icon-menu {
    top: 46px;
  }
  .menu-link,
  .menu-link-f {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
  }
  .header-menu-item {
    padding-left: 10px;
  }

  .menu-link::after {
    top: 5px;
  }
}

/* ==========welcome========== */

.main {
  background-color: var(--dark-color);
  border-top: 3px solid var(--dark-color);
}

.welcome-container {
  position: relative;
}
.welcome-content {
  position: relative;
  padding: 148px 0 270px 0;
  z-index: 5;
}
.welcome-slider {
  display: flex;
  position: absolute;
  bottom: 61px;
  right: 0px;
}
.slider-wrapper {
  width: 100%;
  /* height: 750px; */
  position: relative;
}
.slider-wrapper::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
}

.slide-img {
  display: none;
}
.slide-img img {
  max-width: 100%;
}
.active {
  display: block;
}
.slider-dots {
  position: absolute;
  z-index: 100;
  bottom: 1px;
  right: 0;
  background: var(--dark-color);
  display: flex;
  gap: 50px;
  width: 600px;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.dots {
  width: 16px;
  height: 16px;
  background: var(--ligt-color);
}
.dots:hover {
  background: var(--font-gold);
}
.active-dot {
  background: var(--font-gold);
}
.slider-pp {
  display: flex;
  gap: 25px;
}
.slider-current {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--ligt-color);
}
.slider-current > span {
  color: #030303;
}
#btn-prev {
  background: transparent;
  background-image: url(./assets/welcome-slider/prev.png);
  width: 31px;
  height: 8px;
  cursor: pointer;
}
#btn-next {
  background: transparent;
  background-image: url(./assets/welcome-slider/next.png);
  width: 31px;
  height: 8px;
  cursor: pointer;
}
.welcome-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--ligt-color);
  padding-bottom: 26px;
}
.title-br {
  display: block;
}
.welcome-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: var(--ligt-color);
  padding-bottom: 76px;
}
.welcome-button {
  width: 360px;
  height: 75px;
  border-radius: 10px;
  background-color: var(--button-line-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: var(--ligt-color);
}
.welcome-button:hover {
  background-color: var(--font-gold);
  transition: 0.5s;
}
.welcome-button:not(:hover) {
  background-color: var(--button-line-color);
  transition: 0.5s;
}
@media (max-width: 1919px) {
  .container-big {
    width: 100%;
  }
}
@media (max-width: 1025px) {
  .container {
    width: 96%;
  }
  .welcome-slider {
    width: 700px;
  }
  .welcome-title {
    font-size: 50px;
    line-height: 90px;

    letter-spacing: 5px;

    padding-bottom: 26px;
  }
  .welcome-text {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    padding-bottom: 50px;
  }
  .welcome-content {
    padding: 47px 0 192px 0;
  }
  .slider-dots {
    width: 700px;
  }
  .welcome-button {
    width: 300px;
    height: 60px;
  }
  .slider-dots {
    gap: 45px;

    justify-content: flex-end;
  }
  .dots {
    width: 12px;
    height: 12px;
  }
  #btn-next {
    margin-right: 70px;
  }
}
@media (max-width: 769px) {
  .container {
    width: 94.5%;
  }
  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome-content {
    padding: 0 0 0 0;
    text-align: center;
  }
  .welcome-title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
  }
  .welcome-text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
  }
  .welcome-button {
    display: none;
  }
  .welcome-slider {
    width: 100%;
    position: static;
  }
  .slider-wrapper::before {
    display: none;
  }
  .slider-dots {
    width: 100%;
    gap: 45px;
    justify-content: center;
    position: static;
    height: 100px;
    margin-top: -3px;
  }

  #btn-next {
    margin-right: 0px;
  }
}

/* ==========visiting========== */
.visiting {
  background-color: var(--ligt-color);
}
.visiting-content {
  padding: 75px 0 60px;
}
.visiting-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.visiting-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-gold);
  margin-bottom: 100px;
}
.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}
.underline-title-little {
  position: relative;
}
.underline-title-little::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  height: 2px;
  width: 300px;
  background-color: var(--button-line-color);
}
.visiting-cards:hover .underline-title-little::after {
  width: 440px;
  transition: 0.8s;
}
.visiting-cards:not(:hover) .underline-title-little::after {
  width: 300px;
  transition: 0.8s;
}
.visiting-cards-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--dark-color);
  margin: 21px 0;
}
.visiting-cards-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: var(--dark-color);
}
.visiting-cards-text span {
  font-size: 18px;
  line-height: 21px;
  display: block;
  margin: 10px 0 17px;
}
@media (max-width: 1025px) {
  .visiting-content {
    padding: 60px 0 45px;
  }
  .visiting-title {
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    margin-bottom: 83px;
  }
  .visiting-cards img {
    width: 330px;
  }
  .visiting-cards-title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
  }
  .underline-title-little::after {
    width: 155px;
  }
  .visiting-cards:not(:hover) .underline-title-little::after {
    width: 155px;
  }
  .visiting-cards:hover .underline-title-little::after {
    width: 330px;
  }
  .visiting-pictures {
    justify-content: center;
    column-gap: 108px;
    row-gap: 42px;
  }
  .visiting-cards-text {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (max-width: 769px) {
  .visiting-content {
    padding: 39px 0 81px;
  }
  .visiting-title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
    margin-bottom: 63px;
  }
  .visiting-pictures {
    column-gap: 56px;
    row-gap: 35px;
  }
  .visiting-cards img {
    width: 280px;
  }
  .visiting-cards-title {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 3px;
  }
  .visiting-cards-text {
    font-size: 18px;
    line-height: 21px;
  }

  .visiting-cards-text span {
    font-size: 18px;
    line-height: 21px;
    margin: 10px 0 0px;
  }
}
/* ==========explore========== */

.explore-content {
  display: flex;
  gap: 60px;
  padding: 90px 0 75px 0;
}
.explore-text {
  margin-top: -16px;
}
.explore-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--ligt-color);
  margin-bottom: 105px;
}

.explore-description {
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: var(--ligt-color);
  margin-bottom: 25px;
}
.explore-description-one-span {
  display: block;
}
.explore-description-two-span {
  color: var(--font-gold);
}
.explore-slider {
  position: relative;
  overflow: hidden;
  max-width: 720px;
  width: 100%;
}
.explore-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.explore-before {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 61%;
  height: 100%;
  z-index: 2;
}
.explore-after {
  height: 100%;
}
.explore-change {
  position: absolute;
  z-index: 3;
  left: 61%;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--ligt-color);
}
.explore-change::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  border: 3px solid var(--ligt-color);
  width: 36px;
  height: 36px;
  background: url(./assets/explore-slider/after.jpg);
  transform: translate(-50%, -50%);
}

@media (max-width: 1700px) {
  .explore-content {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1025px) {
  .explore-content {
    padding: 78px 0 55px 0;
  }
  .explore-title {
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 83px;
    letter-spacing: 5px;
  }
  .explore-description {
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 0px;
  }
  .explore-description-one-span {
    display: inline;
  }
  .explore-text p:nth-child(3) {
    display: none;
  }
}
@media (max-width: 769px) {
  .explore-content {
    padding: 40px 0;
  }
  .explore-title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
    margin-bottom: 5px;
  }
  .explore-description {
    display: none;
  }
  .explore-text {
    margin-top: 0px;
    width: 100%;
  }
  .explore-slider {
    max-width: 728px;
  }
}
/* ==========video========== */
.video {
  background-color: var(--ligt-color);
}
.video-player {
  margin-top: 35px;
  width: 100%;
}
.video-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 0 75px 0;
}
.video-text {
  display: flex;
}
.video-title {
  flex: 1 0 50%;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: -5px;
  color: var(--font-gold);
}
.video-img {
  position: relative;
  width: 100%;
  height: 650px;
}
.video-img iframe {
  width: 100%;
  height: 650px;
}
.video-img-poster {
  width: 100%;
  height: 650px;
  position: absolute;
  top: 0;
  left: 0;
}
.video-row {
  display: flex;
  gap: 42px;
  height: 254px;
}
.iframe-row {
  width: 33%;
  position: relative;
}
.iframe-stop_video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.video-img-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: transparent;
  /* pointer-events: none; */
}
.video-img-svg:hover path {
  fill: var(--font-gold);
  transition: 0.5s;
}
.video-img-svg:not(:hover) path {
  fill: var(--ligt-color);
  transition: 0.5s;
}
.video-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: var(--dark-color);
}
.video-progressbar {
  width: 100%;
  height: 86px;
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 38px;
  margin-top: -1px;
}
.progressbar-btn {
  background-color: #030303;
  height: 82px;
  background-repeat: no-repeat;
  background-position: center;
}
.progressbar-btn:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.progressbar-btn:not(:hover) {
  opacity: 1;
  transition: 0.5s;
}
.prev {
  width: 26px;
  background-image: url(./assets/prev.svg);
}
.pause {
  width: 30px;
  background-image: url(./assets/pause.svg);
}
.next {
  width: 30px;
  background-image: url(./assets/next.svg);
}
.volume {
  width: 40px;
  background-image: url(./assets/volume.svg);
}
.fulscrean {
  width: 40px;
  background-image: url(./assets/fulscrean.svg);
}
.progress {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 55%,
    #fff 55%,
    #fff 100%
  );

  height: 7px;

  outline: none;
  -webkit-appearance: none;
}
.progress-width {
  width: 65%;
}
.progress-volume {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 36%,
    #fff 36%,
    #fff 100%
  );
  width: 10.5%;
}
.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: var(--ligt-color);
}

.video-mini-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.mini-arrow-prev {
  width: 12px;
  height: 12px;
  background-image: url(./assets/video/prev.svg);
  background-repeat: no-repeat;
}
.mini-button-one {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #333333;
}
.mini-button {
  background: #999999;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.mini-arrow-next {
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-image: url(./assets/video/next.svg);
}
.video-img-svg svg {
  width: 220px;
  height: 220px;
}
@media (max-width: 1025px) {
  .video-content {
    padding: 65px 0 60px 0;
  }
  .video-title {
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
  }
  .video-description {
    display: none;
  }
  .video-player {
    margin-top: 0px;
  }
  .video-img {
    height: 444px;
  }
  .video-img iframe {
    height: 444px;
  }
  .video-img-poster {
    height: 444px;
  }
  .video-progressbar {
    height: 60px;
    padding: 0 40px;
  }
  .progressbar-btn {
    height: 55px;
  }
  .video-img-svg svg {
    width: 152px;
    height: 152px;
  }
  .video-row {
    height: 170px;
  }
  .volume {
    background-size: 26px 26px;
  }
  .fulscrean {
    background-size: 26px 26px;
  }
  .progress {
    height: 5px;
  }
  .progress-width {
    width: 75%;
  }
  .progress-volume {
    width: 17.5%;
  }
}
@media (max-width: 769px) {
  .video-content {
    padding: 40px 0 76px 0;
    gap: 25px;
  }
  .video-title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
  }
  .video-description {
    display: none;
  }
  .video-player {
    margin-top: 0px;
  }
  .video-img {
    height: 329px;
  }
  .video-img iframe {
    height: 329px;
  }
  .video-img-poster {
    height: 329px;
  }
  .video-progressbar {
    height: 55px;
    padding: 0 30px;
  }
  .progressbar-btn {
    height: 50px;
  }
  .mini-button-one {
    width: 10px;
    height: 10px;
  }
  .video-mini-buttons {
    margin-top: -3px;
  }
  .mini-button {
    width: 10px;
    height: 10px;
  }
  .video-img-svg svg {
    width: 80px;
    height: 80px;
  }
  .video-row {
    height: 199px;
    gap: 20px;
  }
  .video-row .iframe-row:nth-child(3) {
    display: none;
  }
  .iframe-row {
    width: 50%;
  }
}
/* * ==========Gallery========== */
.galery {
  background-color: var(--dark-color);
  position: relative;
  height: 2200px;
  overflow: hidden;
}

.galerry-title {
  padding: 75px 0;
  color: var(--ligt-color);
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.picture-inner-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-basis: 456px;
  height: 2500px;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 36px;
}
.picture-inner-container img {
  display: block;
  width: 31%;
}
.picture-inner-container img:nth-child(1),
.picture-inner-container img:nth-child(9) {
  margin-top: 45px;
}
.galery::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  left: 0;
  height: 360px;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

@media (max-width: 1025px) {
  .galerry-title {
    padding: 60px 0;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
  }
  .picture-inner-container {
    height: 1700px;
  }
  .galery {
    height: 1460px;
  }
}
@media (max-width: 769px) {
  .galerry-title {
    padding: 40px 0;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
  }
  .picture-inner-container {
    height: 1600px;
    column-gap: 24px;
  }
  .galery {
    height: 1220px;
  }
  .picture-inner-container img {
    display: block;
    width: 49%;
  }
}
/* ==========Tickets========== */
.tickets {
  background-color: var(--ligt-color);
}
.tickets-content {
  display: flex;
  flex-direction: column;
  padding: 72px 0;
}
.tickets-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-gold);
  margin-bottom: 103px;
}
.ticketc-buy {
  display: flex;
  flex-direction: column;
  flex: 1 0 31.3%;
  gap: 25px;
}
.ticketc-buy-cost {
  display: flex;
  flex-direction: column;
  flex: 1 0 31.3%;
  gap: 15px;
}
.tickets-deskription {
  display: flex;
  gap: 60px;
}
.ticket-type {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: var(--dark-color);
  padding: 0 0 25px 0;
}
.ticket-cost {
  padding: 40px 0 42px;
  letter-spacing: 1.3px;
}
.amount {
  padding: 0 0px 12px 50px;
}
.container-check {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--dark-color);
}
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 4px;
  left: 0px;
  height: 17px;
  width: 17px;
  background-color: var(--ligt-color);
  border-radius: 50%;
  border: 1px solid var(--dark-color);
}
.container-check:hover input ~ .checkmark {
  background-color: var(--font-gold);
}
.container-check input:checked ~ .checkmark {
  background-color: var(--ligt-color);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-check input:checked ~ .checkmark:after {
  display: block;
}
.container-check .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-55%, -55%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--dark-color);
}
.ticketc-btn {
  width: 175px;
  height: 50px;
  background: var(--dark-color);
  border-radius: 2px;
  margin-left: -25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: var(--ligt-color);
}
.ticketc-btn > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}
.ticketc-btn:hover {
  background-color: var(--font-gold);
  transition: 0.5s;
}
.ticketc-btn:not(:hover) {
  background-color: var(--dark-color);
  transition: 0.5s;
}
.tickets-number {
  all: unset;
  width: 3em;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--dark-color);
}
.tickets-count {
  border: 3px solid var(--dark-color);
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: -5px;
}
.tickets-count-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: var(--dark-color);
  background: transparent;
}
.tickets-count-btn:hover {
  color: var(--font-gold);
}
.ticket-category-people {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--dark-color);
}
.tikets-parallax {
  width: 100%;
  height: 400px;
  background-image: url(./assets/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 1500px) {
  .ticketc-buy {
    flex: 1 1 31.3%;
  }
}
@media (max-width: 1300px) {
  .tickets-deskription div:nth-child(2) {
    display: none;
  }
}
@media (max-width: 1050px) {
  .tickets-title {
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    margin-bottom: 70px;
  }
  .tickets-content {
    padding: 60px 0;
  }
  .ticketc-buy-img {
    width: 100%;
    height: 440px;
  }
  .ticketc-buy-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .amount {
    padding: 0 0px 12px 0px;
  }
  .ticketc-buy {
    padding-left: 25px;
  }
  .ticketc-btn {
    margin-left: 0px;
  }
  .people1024 {
    margin-top: 15px;
  }
  .ticket-cost {
    padding: 10px 0 55px;
  }
  .tickets-count {
    width: 170px;
  }
}
@media (max-width: 769px) {
  .ticketc-buy {
    flex: 1 0 31.3%;
  }
  .tickets-title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
    margin-bottom: 50px;
  }
  .tickets-content {
    padding: 40px 0;
  }
  .ticketc-buy-img {
    height: 340px;
  }
  .amount {
    padding: 0 0px 18px 0px;
  }
  .ticketc-buy {
    padding-left: 0px;
  }
  .ticketc-btn {
    margin-left: 0px;
  }
  .people1024 {
    margin-top: 10px;
  }
  .ticket-cost {
    padding: 25px 0;
  }
  .tickets-count {
    width: 175px;
  }
  .tikets-parallax {
    height: 300px;
  }
}
/* ===========Popap=========== */
.popap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popap:target {
  opacity: 1;
  visibility: visible;
}
.popap:target .popap-body {
  transform: translate(0px, 0px);
  opacity: 1;
}
.popap-body {
  min-height: 100%;
  position: relative;
  max-width: 1440px;
  margin: 20px auto;
  background: var(--ligt-color);
  transition: all 0.8s ease 0s;
  transform: translate(-100%, 0px);
  opacity: 0;
}
.popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.popap-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.tickets-form {
  width: 1440px;
  /* height: 845px; */
  background-color: var(--ligt-color);
}
.tickets-form-wrapper {
  width: 970px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding: 91px 0;
}
.tickets-blok-left {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
}
.tickets-form-title {
  display: flex;
  flex-direction: column;
}
.underline-title-left {
  position: relative;
}
.underline-title-left::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}
.tickets-form-logo {
  width: 86px;
  height: 42px;
  background-image: url(./assets/form/logo-louvre.png);
}
.tickets-title-form {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;

  color: var(--font-gold);
}
.tickets-deskription {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-top: 15px;

  color: var(--button-line-color);
}
.form-fild {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-time {
  display: flex;
  gap: 50px;
}

.form-inputs {
  width: 100%;
  border: 1px solid var(--dark-color);
  display: flex;
  height: 45px;
  padding-left: 15px;
}
.form-inputs label {
  display: flex;
  gap: 15px;
  align-items: center;
}

.form-time > .form-inputs {
  width: 175px;
  height: 45px;
  display: flex;
}
.form-input-style-data {
  color: var(--ligt-color);
  width: 38%;
  background: url(./assets/form/arrow.svg) no-repeat right center;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
}
.form-input-style {
  width: 100%;
  margin: 5px;
}
.select-style {
  appearance: none;
  background: url(./assets/form/arrow.svg) no-repeat right center;
}
.underline-title-entry {
  position: relative;
}
.underline-title-entry::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--button-line-color);
}
.entry-ticket {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-color);
  padding: 10px 15px 15px 15px;
}

.entry-ticket-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #9d8665;
}
.entry-ticket-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
}
.entry-ticket-block > .tickets-number {
  font-size: 18px;
}
.entry-tickets-content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 18px;
}
.ticket-category-people-left {
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}
.tickets-count-left {
  height: 25px;
  border: 1px solid #030303;
  font-size: 18px;
  line-height: 21px;
}
.form-btn {
  color: var(--ligt-color);
  background: var(--dark-color);
  font-size: 18px;
  line-height: 21px;
  width: 105px;
}

.form-number {
  background-color: var(--ligt-color);
  font-size: 18px;
  line-height: 21px;
  width: 35px;
}

.ripple {
  background-color: var(--button-line-color);
  opacity: 0.9;
  width: 220px;
  height: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  position: relative;
  overflow: hidden;
  color: var(--ligt-color);
}
.ripple:focus {
  outline: none;
}
.ripple > .circle {
  position: absolute;
  z-index: 5;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
.tickets-blok-right {
  display: flex;
  flex-direction: column;
}
.right-content {
  padding: 25px 30px;
  border: 1px solid #030303;
}
.right-overview {
  display: flex;
  justify-content: space-between;
}
.ticket-type-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #272727;
}
.underline-title-right {
  position: relative;
}
.underline-title-right::after {
  content: "";
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--button-line-color);
}

.blok-right-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740c11;
  opacity: 0.9;
  padding-bottom: 10px;
}
.right-visual {
  display: flex;
  padding-bottom: 5px;
  gap: 15px;
  font-size: 18px;
  line-height: 21px;
}
.right-tickets-count {
  display: inline-block;
  width: 32px;
  height: 20px;
  border-radius: 10px;
  background: #030303;
  color: #a4a4a3;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin-right: 10px;
}
.result-tickets-block {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  line-height: 26px;
  margin-top: 22px;
}
.right-result-tickets {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.total {
  margin-top: 21px;
  font-size: 32px;
  line-height: 37px;
  color: #030303;
}
.right-cards {
  position: relative;
  width: 470px;
  height: 241px;
  margin-bottom: 26px;
}
.right-cards-fofm-one {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.right-cards-fofm-two {
  position: absolute;
  right: 0;
  bottom: 0;
}
.right-button {
  display: flex;
  justify-content: flex-end;
}

/* ==========contacts========== */
.contacts {
  background-color: #ffffff;
}
.contacts-content {
  display: flex;
  flex-direction: column;
  padding: 75px 0 73px 0;
}
.contacts-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  margin-bottom: 100px;
}
.contacts-deskription {
  display: flex;
  justify-content: space-between;
}
.contacts-text-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #030303;
  padding: 0px 0 50px;
}
.contacts-text-title span {
  display: block;
}
.contact-email {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--dark-color);
  padding-bottom: 25px;
}
.sotial {
  padding-bottom: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--dark-color);
}
.contact-map img {
  max-width: 100%;
}
@media (max-width: 1025px) {
  .contacts-content {
    padding: 60px 0 62px 0;
  }
  .contacts-title {
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    margin-bottom: 85px;
  }
  .contacts-deskription {
    gap: 25px;
  }
  .contacts-text {
    width: 38%;
  }
  .contacts-text-title {
    font-size: 24px;
    line-height: 28px;
    padding: 0px 0 30px;
  }
  .sotial {
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 15px;
  }
  .contact-email {
    padding-bottom: 15px;
  }
}
@media (max-width: 769px) {
  .contacts-content {
    padding: 40px 0 68px 0;
  }
  .contacts-title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
    margin-bottom: 65px;
  }
  .contacts-deskription {
    gap: 25px;
    flex-direction: column;
  }
  .contacts-text {
    width: 38%;
  }
  .contacts-text-title {
    font-size: 20px;
    line-height: 23px;
    padding: 0px 0 40px;
  }
  .sotial {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 15px;
  }
  .contact-email {
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
  }
}
/* ==========footer========== */
.footer {
  background-color: #030303;
  height: 392px;
  display: flex;
  flex-direction: column;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 75px 0 55px 0;
}
.footer-logo {
  display: flex;
  gap: 25px;
}
.footer-menu {
  position: relative;
}
.menu-body-footer {
  position: absolute;
  left: -310px;
}
.footer-menu-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  column-gap: 170px;
}
.sotial-menu {
  display: flex;
  gap: 24px;
  padding-top: 85px;
}
.sotial-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.sotial-icons:hover {
  border: 1px solid #9d8665;
  transition: 0.5s;
}
.sotial-icons:hover path {
  fill: #9d8665;
  transition: 0.5s;
}
.footer-information {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.footer-information div:nth-child(2) {
  padding: 0 0 0 130px;
}
.footer-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
}
.footer-date > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
}
.hr {
  height: 3px;
  width: 100%;
  background: #666666;
}
@media (max-width: 1450px) {
  .menu-body-footer {
    position: absolute;
    left: 50px;
    top: 0px;
  }
  .footer-menu {
    width: 30%;
  }
  .footer-menu-item {
    column-gap: 80px;
  }
}

@media (max-width: 1025px) {
  .menu-body-footer {
    position: absolute;
    left: 50px;
    top: 0px;
  }
  .footer-menu {
    width: 30%;
  }
  .footer-content {
    padding: 52px 0 55px 0;
  }
  .footer-menu-item {
    column-gap: 120px;
  }
  .sotial-menu {
    padding-top: 90px;
  }
  .footer {
    height: 368px;
  }
}

@media (max-width: 919px) {
  .sotial-menu {
    position: absolute;
    top: 120px;
    left: 350px;
  }
  .footer-content {
    position: relative;
    padding: 52px 0 155px 0;
  }
  .menu-body-footer {
    position: absolute;
    left: -180px;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .footer {
    height: 411px;
  }
  .sotial-menu {
    position: absolute;
    top: 130px;
    left: 300px;
  }
  .footer-menu-item {
    row-gap: 27px;
    column-gap: 185px;
  }
  .footer-content {
    position: relative;
    padding: 40px 0 215px 0;
  }
  .menu-body-footer {
    position: absolute;
    left: -150px;
    top: 15px;
  }
  .footer-information {
    padding: 40px 0;
  }
}

@media (max-width: 700px) {
  .footer {
    height: 600px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px 0;
  }
  .menu-body-footer {
    position: static;
    top: 0;
    left: 0;
  }
  .sotial-menu {
    position: static;
    top: 0;
    left: 0;
  }
}
@media (max-width: 421px) {
  .footer {
    height: 600px;
  }
  .footer-menu-item {
    column-gap: 50px;
  }
  .footer-information {
    flex-direction: column;
    align-items: center;
  }
  .sotial-menu {
    gap: 10px;
  }
}
